.dashboard-container {
    display: flex;
    flex-direction:row;
  }
  
  .card {
    flex: 1 1 100px; 
    margin: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .dashboard-container {
      flex-direction:column;
    }


  }
  